<html>
<script type="text/javascript" src="../static/scripts/main/jquery.min.js"></script>
<script type="text/javascript" src="../static/scripts/main/jquery.rotate.min.js"></script>
<script type="text/javascript" src="../static/scripts/main/layer.js"></script>

<script type="text/javascript">
    $(function(){
        layer.open({
            type: 2,
            shade: 0.8,
            title: '提问',
            skin: 'layui-layer-lan',
            area: ['600px', '400px'],
            content: '/addQue'
        });
    });
</script>
</html>

