<script type="text/javascript" src="../static/scripts/main/jquery.js"></script>
<!--<script type="text/javascript" src="../static/scripts/main/jquery.min.js"></script>-->
<script type="text/javascript" src="../static/scripts/main/jquery.rotate.min.js"></script>
<script type="text/javascript" src="../static/scripts/main/layer.js"></script>
<script type="text/javascript" src="../static/scripts/main/base/base.js"></script>
<script type="text/javascript" src="../static/scripts/main/base/util.js"></script>
<script type="text/javascript" src="../static/scripts/main/base/event.js"></script>
<script type="text/javascript" src="../static/scripts/main/component/component.js"></script>
<script type="text/javascript" src="../static/scripts/main/component/popup.js"></script>
<script type="text/javascript" src="../static/scripts/main/component/popupAdd.js"></script>
<!--<script type="text/javascript" src="../static/scripts/main/component/popupMsg.js"></script>-->
<script type="text/javascript" src="../static/scripts/main/site/home.js"></script>

<script type="text/javascript">
    $("#zh-top-nav-count-wrap").on("click", function () {
        layer.open({
            type: 2,
            shade: 0.8,
            title: '发送私信',
            skin: 'layui-layer-lan',
            area: ['500px', '370px'],
            content: '/message_add'
        });
        // window.location.href = '/question_add';
    });
</script>
</body></html>