@charset "utf-8";
/* 以下实际使用若已初始化可删除 .nav height父级需逐级设置为100%*/
body,html{height: 100%;background: #f0f2f5;}
body,ul{margin:0;padding:0}
body{font-size:14px ;color: #515a6e;-webkit-text-size-adjust:100%;font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
li{list-style:none}
a,a:hover,a:active{text-decoration:none !important;cursor: pointer;}
*{box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */ }
.m-t-10{margin-top:10px;}
.m-t-20{margin-top:20px;}
.m-t-30{margin-top:30px;}
.m-b-10{margin-bottom:10px;}
.m-b-20{margin-bottom:20px;}
.m-b-30{margin-bottom:30px;}
.f-18{font-size:18px !important;}
/* 以上实际使用若已初始化可删除 */



/* ************************** */
/* nav */
.nav{width: 220px;height: auto;background: #FFFFFF;
    box-shadow: 1px 0 4px 0 rgba(0,21,41,0.12);transition: all .3s;float:left;    min-height: 100%;min-height: 723px;min-height: 770px;}
.nav h1{margin:0;padding:16px 30px;}
.nav h1 div, .nav h1 div img {width:160px; height: 33.4px;}

.nav li a{display: block;overflow: hidden;padding-left: 20px;transition: all .3s;}

/* 根节点  */
.nav-root-font {line-height: 50px;max-height: 50px; font-family: PingFangSC-Medium; font-size: 16px; color: #17233D;font-weight: 600;}
.nav-root-font span{margin-left: 20px;}

/* 叶子 */
.nav-leaf-font { font-size: 14px; background: #FAFAFA; }
.nav-leaf-font span { margin-left: 50px; }
.leaf-layer-2:hover {color: #0D9EE3; background:#e5f4fc; border-right:3px solid #0098E6;}
.leaf-layer-1 { line-height: 50px; max-height: 50px; font-family: PingFangSC-Medium; color:#515A6E; font-weight: 500;}
.leaf-layer-2 { line-height: 40px; max-height: 40px; font-family: PingFangSC-Regular; color:#808695; font-weight: 300;}



.nav-item{position: relative;}
.nav-item.nav-show{border-bottom: none;}
.nav-item ul{display: none;background:#fff;}
.nav-item.nav-show ul{display: block;}
.nav-item>a:before{content: "";position: absolute;left: 0px;width: 2px;height: 46px;opacity:0;transition: all .3s;}
.nav .nav-icon{position: absolute;margin-left:-1px;}
/* 此处修改导航图标 可自定义iconfont 替换*/

/*---------------------*/
.nav-more{float:right;margin-right: 20px;font-size: 12px !important;transition: transform .3s;}
.nav-more-no-transform{float:right;margin-right: 20px;font-size: 12px !important;color:#a5a9b4;}

/* 此处为导航右侧箭头 如果自定义iconfont 也需要替换*/

/*---------------------*/
.nav-show .nav-more{transform:rotate(-180deg);}
.rotate{transform:rotate(-180deg);}
/*.nav-show,.nav-item>a:hover{color: #242424; text-decoration: none;}*/
/*.nav-show>a:before,.nav-item>a:hover:before{opacity:1;}*/

/* nav-mini */
/*.nav-mini.nav{width: 60px;}
.nav-mini.nav .nav-icon{!* margin-left:-2px; *!}
.nav-mini.nav .nav-item>a span{display: none;}
.nav-mini.nav .nav-more{margin-right: -20px;}
.nav-mini.nav .nav-item ul{position: absolute;top:0px;left:60px;width: 180px;z-index: 99;overflow: hidden;}
.nav-mini.nav .nav-item:hover{background:rgba(255,255,255,.1);}
.nav-mini.nav .nav-item:hover .nav-item a{color:#242424;}
.nav-mini.nav .nav-item:hover a:before{opacity:1;}
.nav-mini.nav .nav-item:hover ul{display: block;}*/
/* ************************** */

/* main主体 */
.main{margin-left:220px;  height:auto;position:relative;}
.main >.main-top{background: #0098E6;width:100%;padding:20px 24px 0;height:64px;border-bottom:solid 1px rgba(50,64,77,0.12);}
.main >.main-top >.user{font-size: 14px;color: rgba(0,0,0,0.65); position: absolute;right:24px;top:15px;color:#fff;}
.main >.main-top >.user>.user-mr{margin-right:15px;}
.main >.step{width:100%;height:54px;line-height: 54px;padding:0 24px;color:#999;}
.main >.step span{color:#000;}
.main-mini{margin-left:60px;  height:auto;position:relative;}

.content-main{width:100%;height:auto;padding:0 24px;margin-bottom: 24px;}
.content-main-box{width:100%;background:#fff;height:auto;padding:30px 20px 15px;float: left; margin-bottom: 24px;}
.content-main-box >.main-block{width:100%;height:auto;}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea {
    line-height: 32px;
    height: 32px;
    padding: 0 10px;
    -webkit-user-select: text;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    outline: 0;
    font-size:14px;
    background-color: #fff;
    -webkit-appearance: none;
    margin-bottom: 15px;
}
.content-main .content-main-box form  input[type=text]{
/*//给 查询的 表单 内容 加上 小写转换大写的 属性*/
    /*text-transform: uppercase!important;*/

    text-transform: none!important;
}


.select{
    line-height: 32px;
    height: 32px;
    margin-bottom: 15px;
    padding: 0 20px 0 10px;
    -webkit-user-select: text;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    outline: 0;
    font-size:14px;
    background-color: #fff;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
input:focus, select:focus, textarea:focus {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-modify: read-write-plaintext-only;
    /*border:1px solid #0098e6;*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);*/
    outline:none;
}
::-ms-clear,::-ms-reveal{display:none;}
button, input[type=button], input[type=reset], input[type=submit] {
    height: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 24px 6px;
    cursor: pointer;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
    background-clip: padding-box;
}
select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #ccc;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*将背景改为红色*/

    /*加padding防止文字覆盖*/
    padding-right: 14px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

.bg-blue{background:#0098e6;color:#fff;border:1px solid #0098e6;}
.bg-blue:hover{background: #0089d0;color:#f1f1f1;}
.bg-write{background:#fff;}
.bg-write:hover{background:#f7f7f7;color:#222;}
.m-l-18{margin-left:18px;}
/*.select{background:url(../images/down.png) no-repeat right center;}*/
.select{
    background-image: url(../images/down.png);
    background-repeat: no-repeat;
    background-position: 98% center;
}
input[type='checkbox']+label{display: block;width: 16px;height: 16px;background: #FFFFFF;border: 1px solid rgba(0,0,0,0.15);border-radius: 2px;}
input[type='checkbox']:checked+label{background: url(../images/checked.png) no-repeat center;border:0;background-size: 100%}

.position-btn{position: relative;     text-align: right;}
.position-btn .btn1{position: absolute;top:0;left:40%;}
.position-btn .btn2{position: absolute;top:0;left:65%;}


input,select,label{
    height: 32px;
    line-height: 32px;
    font-weight: normal;

}
input,select{
    width: 168px !important;
}
input.w100input,select.w100select{
    width: 100px !important;
    /* width: 168px ; */
}
.width70{width:70%!important;}
.width40{width:40%!important;}
.width100{width: 100%!important;}
.width12px{width: 12px!important;}
.width50px{width:50px!important;}
.width129px {width: 129px!important;}
div{
    line-height: 32px;
}

ul.pagination {
    float:right;
    display: inline-block;
    /*padding: 0;*/
    /*margin: 0;*/
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.active {
    background-color: #0098e6;
    color: white;
    border: 1px solid #0098e6;
}
.pagination > .active > a{
    background-color: #0D9EE3;
    border-color: #0D9EE3;
}
.pagination > .active > a:hover{
    background-color: #0D9EE3;
    border-color: transparent;
    color: #FFFFFF;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;    color: black;}


button:hover{
    /*background-color: #0098e6;*/
    /*background-color: red;*/

}

.icon-yonghutouxiang:before {
    vertical-align: bottom;
}

/* 右侧设置内容  竖线span的背景颜色 */
.main .table-responsive tr td a + span {
    color: #E0E5EB;
}
/*基础按钮*/
.base-button{
    width: 80px;
    height: 36px;
}

/*首页背景*/
.bg{
    width: 96%;
    margin: 2% auto 0px;
    height: 600px;
    background: url(../images/banner.jpg) no-repeat;
    background-size: 100% 100%;
}

.login
{
    /* position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: url(../images/login-bg.png) no-repeat 0 0;
    background-size: 100% 100%; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/login-bg.png) no-repeat center;
    background-size: 100% 100%;
}
.login .out-box
{
    width: 460px;
    height: 500px;
    position: absolute;
    top: 50%;
    margin-top: -250px;
    right: 180px;
    background-color: #fff;
    box-shadow: 0 17px 23px 0 rgba(13,158,227,0.20);
    border-radius: 8px;
}
.login .text-center
{
    font-size: 36px;
    color: #515B6F;
    height: 50px;
    line-height: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}
.login .form-group-login{
    margin-bottom: 0px;
}
.login .alert-danger-d{
    position: relative;
    width: 360px;
    height: 30px;
    margin-left: 50px;
    margin-top: 10px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
}
.login .login-alert-img{
    position: absolute;
    left: 10px;
    top: 7px;
}
.login .login-alert-text{
    position: absolute;
    left: 30px;
    top: -1px;
    color: #F5222D;
}
.login #username{
    width: 360px;
    height: 40px;
    border: 1px solid #DCDEE2;
    border-radius: 4px;
    margin-left: 50px;
    margin-top: 6px;
    margin-bottom: 0px;
}
.login .form-group-password{
    position: relative;
}
.login #password{
    width: 360px;
    height: 40px;
    border: 1px solid #DCDEE2;
    border-radius: 4px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.login .login_seen{
    display: inline-block;
    position: absolute;
    top: 33px;
    right: 62px;
    cursor: pointer;
}
.login .form-control-feedback {
    position: absolute;
    top: 23px;
    right: 52px;
    z-index: 2;
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: auto;
}
.login .apartment{
    position: relative;
    width: 360px;
    height: 40px;
    border: 1px solid #DCDEE2;
    border-radius: 4px;
    margin-left: 50px;
    margin-top: 20px;
}
.login .apartment-name {
    display:inline-block;
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 14px;
    color: #515A6E;
}
.login .apartment-select {
    display:inline-block;
    position: absolute;
    right: 16px;
    font-size: 14px;
    color: #515A6E;
}
.login #dropdown-login{
    margin-left: 50px;
    width: 360px;
    padding-left: 15px;
}
.login #dropdown-login-ul{
    margin-left: 50px;
    width: 360px;
}
.login .dropdown-login-li{
    width: 360px;
    padding-left: 15px;
}
.login .dropdown-login-li:hover{
    background-color: #e6e6e6;
    width: 360px;
    padding-left: 15px;
}

.login .login-checkbox{
    position: relative;
    width: 100%;
    height: 20px;
    margin-top:30px;
    margin-bottom: 0px;
}
.login #check-img{
    position: absolute;
    top: 0px;
    left: 50px;
    width: 16px;
    height: 16px;
}
.login #check-name{
    position: absolute;
    top: -8px;
    left: 76px;
    font-size: 14px;
    color: #808695;
    height: 20px;
}
.login #button{
    width: 360px;
    height: 46px;
    margin-top: 38px;
    margin-left: 50px;
    font-size: 18px;
}
.login input,.login select{outline: none;outline: none;width:360px !important;}
.login .checkboxnew {position: absolute;left: 53px;}
.login .checkboxnew input {outline: none;width: 18px;}
.login input:focus {outline: none;}
.login .form-group {padding-bottom: 0px;}


.error{
    border:1px solid #F5222D !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #F5222D !important;
}

.table{
    margin-bottom: 0px!important;
}

.table > tbody > tr > td{
    text-align: center!important;
}
.table > thead:first-child > tr:first-child > th{
    text-align: center!important;
    line-height: 30px;
    padding: 0px 6px;
    word-break: keep-all;
    white-space: nowrap;
}
.textar{
    text-align: right!important;
}
.mr{
    margin-right: 10px;
}
/* 中间标题内容 */
#content-main-box{
    min-height: 503px;
    overflow: hidden;
}
#content-main-box .main-block ,.titledetail{
    line-height: 1;
    height: 40px;
    line-height: 40px;
    background-color:transparent;
    margin-top: 0;
    margin-bottom: 20px;
}
#content-main-box .main-block p ,.titledetail  p{
    display: inline-block;    margin: 0;margin-left: 20px;
}
#content-main-box .main-block div , .titledetail div{
    display: inline-block;float: right;margin-top: 4px;margin-right: 15px;float: left;
}
#content-main-box .main-block div ,.titledetail div{
    line-height: 1;
    height: 40px;
    line-height: 40px;
    background-color:transparent;
    margin-top: 0;
    float: left;
    margin-bottom: 20px;
}

.table > tbody > tr > td{
    color: #515A6E!important;
    padding: 0;
    line-height: 30px;
    word-break: keep-all;
    white-space: nowrap;
    /*font-size: 13px;*/
}
.table > thead > tr > th{
    color: #17233d!important;
    font-size: 14px!important;
}


/* 确定与取消 */
.issureBox{
    border-top: 1px solid #bdb3b3;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 0px;
}
.issureBox #affirm{
    background-color: #0D9EE3;
    border: none;
    color: #fff;
    font-size: 14px;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 7px;
}
.issureBox  #close{
    font-size: 14px;
    margin-top: 8px;
}


.form-group{
    padding-bottom: 20px;
}


/* 弹出框 title line */
.layui-layer-lan .layui-layer-title {
    background: #ffffff !important;
    color: #352f2f  !important;
    border-bottom: 1px solid #bdb3b3 !important;
}
.layui-layer-open{
    background: #ffffff !important;
    overflow: hidden;
}
.layui-layer-setwin a {
    background-position: 0px -40px !important;
}

/* inspectionDatumAdd  检验基准新增 */
.inspectionDatumAdd{

}
.inspectionDatumAdd .ib{
    display: inline-block;
    float: left;
}
.inspectionDatumAdd .titmess {
    margin-top: 12px;
    margin-bottom: 12px;
}
.inspectionDatumAdd .titmess .select {
    margin-right: 15px;
    margin-bottom: 0;
}
.inspectionDatumAdd .titmess .select {
    margin-right: 15px;
    margin-bottom: 0;
}
.inspectionDatumAdd .titmess input[type=text]{
    margin-bottom: 0;
}
        

.inspectionDatumAdd .content-main-box:first-child {
    padding-top: 30px; 
}

.inspectionDatumAdd .table > tbody > tr > td {
    height: 36px;
    padding: 0;
    line-height: 36px;
}
.inspectionDatumAdd .table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
    border-bottom-width: 0;
}
.inspectionDatumAdd .table > thead:first-child > tr:first-child > th {
    height: 30px;
    padding: 0;
    line-height: 30px;
}
.inspectionDatumAdd .spantitle{
    display: inline-block;
    float: left;
    padding: 0 10px;
}

/* 供应商样式  */

.serbuss{
    line-height: 32px;
    height: 32px;
    padding: 0 10px;
    -webkit-user-select: text;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    outline: 0;
    font-size: 14px;
    background-color: #fff;
    -webkit-appearance: none;
    margin-bottom: 15px;
}
.serbuss input{
    border: none;
    width: 38%!important;
    width: 35%;
    height: 27px;
    line-height: 27px;
    float: left;
}
.serbuss     button{
    float: left;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    height: 30px;
    width: 38px;
}

/*复用得类*/
.por {
    position: relative;
}
/*验证样式*/
.form_validation_err{
    border: 1px solid red !important;
    color: red !important;
}
/*.validation_colour1{line-height:22px;position:absolute;z-index:99;top:-23px;left:25px;font-size:12px;border:1px solid red;padding:0 5px;background:#FAD3D4;color:red;border-radius:15px;}*/
.validation_colour3{    line-height: 22px;
    position: absolute;
    z-index: 99;
    top: -18px;
    left: 120px;
    font-size: 12px;
    padding: 0 5px;
    color: red;}

/*切换按钮*/
.switchng{display: inline-block;width: 44px;height: 22px;background: url(../images/nook-icon.png)no-repeat;background-size: 100%;position: relative;top: 5px;margin-bottom: 0; }
.switchok{ display: inline-block;width: 44px;height: 22px;background: url(../images/ok-icon.png)no-repeat;background-size: 100%;position: relative;top: 5px;margin-bottom: 0;}
.switchinput {
    display: none;
}

/*添加图纸盒子样式*/
.content-main .footerbox {
    width: 100%;
    background: #fff;
    height: auto;
    padding: 35px 20px 20px;
    float: left;
}

/*合格不合格右上角大图显示*/
.okimg{
    width: 109px;
    height: 92px!important;
    background: url(../images/passed.png) no-repeat;
    right: -16px;
    top: -50px;
    position: absolute;
}
.nookimg{
    width: 109px;
    height: 92px!important;
    background: url(../images/nopassed.png) no-repeat;
    right: -16px;
    top: -50px;
    position: absolute;
    filter: contrast(10%);
}
/*有效 无效 效果图片类*/
.goodstate{
    display: inline-block;width: 47px;height: 22px;background: url(../images/goodstate.png)no-repeat;background-size: 100%;position: relative;top: 5px;
}
.badstate{
    display: inline-block;width: 46px;height: 25px;background: url(../images/badstate.png)no-repeat;background-size: 100%;position: relative;top: 4px;
}

/*导出 复制 临时保存 提交处置 提交审核 按钮种类样式集合*/

.buttonbox button {
    width: 88px;
    height: 32px;
     line-height: 32px;
     text-align: center;
     margin-left: 5px;
     padding: 0;
}

/*btn btn-default  导出 复制 按钮用的类 */
.btn-default:hover {
    background: #ffffff;
}

/*btn btn-shortsave 临时保存按钮用得类*/
.btn-shortsave{
    background: #808695;
    border-radius: 4px;
    border: 1px solid #808695;
    color: #ffffff;
}
.btn-shortsave:hover{
    color: #FFFFFF;
}
/*btn btn-warning 提交审核按钮用得类*/
.btn-warning {
    color: #fff;
    background: #FAAD14;
    border-radius: 4px;
}
/*btn btn-shortsave 提交处置按钮用得类*/
.btn-info {
    background: #0D9EE3;
}
/*标题中得临时保存*/
.shortSave {
    width: 64px;
    height: 22px;
    background: #fff2e8;
    border: 1px solid #ffbb96;
    font-size: 12px;
    color: #FA541C;
    text-align: center;
    padding: 0;
    line-height: 22px;
    margin-top: 5px;
    border-radius: 4px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    margin-top: -3px;
}
/*检验标准div*/
.standard{margin-bottom: 9px;}

/**********新版本 radio 样式*************/

/*input[type="radio"].newradio{display: none;}*/
/*input[type="radio"].newradio + label{*/
    /*width: 16px;*/
    /*height: 16px;*/
    /*display: inline-block;*/
    /*background: url(../images/radiooff.png) no-repeat;*/
    /*padding-left: 50px;*/
/*}*/
/*input[type="radio"].newradio + label.check{*/
    /*width: 16px;*/
    /*height: 16px;*/
    /*display: inline-block;*/
    /*background: url(../images/radioon.png) no-repeat;*/
/*}*/

label.newradio {
    line-height: 1;
}
.newradio > input.a-radio{
    display: none;
}
.newradio > .b-radio{
    display: inline-block;
    border:1px solid #ccc;
    width:16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    border-radius: 50%;
}
.newradio > .b-radio:before{
    content: '';
    font-size: 0;
    width: 8px;
    height: 8px;
    background: #0D9EE3;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -4px;
    display: none;
    border-radius: 50%;
}
.newradio > .a-radio:checked~.b-radio:before{
    display: block;
}
.newradio >  .a-radio:checked~.b-radio {
    border: 1px solid #0d9ee3;
}



/*404 页面样式*/
.bg404 {
    /*width: 96%;*/
    /*margin: 2% auto 0px;*/
    height: 600px;
    background-size: 100% 100%;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
}
/*bg  首页背景*/
.bg404 .word {
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #AEB9CE;
    text-align: center;
}
.bg404 .imgbox{
    text-align: center;
    margin-top: 168px;
}
.bg404 .imgbox > img{
    margin-left: 35px;
    margin-bottom: 40px;
}

/*把小写转换为大写*/
.uppercase{
    text-transform: uppercase!important;
}