<div class="input-section">
    <form action="/login" method="post">
        <div class="form-group">
            <label for="jsEmailIpt" class="control-label">邮箱/手机</label>
            <div class="control-group" id="jsCpn_2_component_0"><input type="text" id="jsEmailIpt" name="jsEmailIpt"
                                                                       placeholder="请输入邮箱/手机号码" autocomplete="off"><i
                    class="input-icon fui-cross"></i><i class="input-icon fui-check-inverted"></i><span
                    class="input-tip"></span></div>
        </div>
        <div class="form-group">
            <label for="jsPasswordIpt" class="control-label">密码</label>
            <div class="control-group" id="jsCpn_3_component_1"><input type="password" id="jsPasswordIpt"
                                                                       name="jsPasswordIpt"
                                                                       placeholder="请输入密码"><i
                    class="input-icon fui-cross"></i><i class="input-icon fui-check-inverted"></i><span
                    class="input-tip"></span></div>
        </div>
        <div class="form-group about-pwd">
            <div class="keep-pwd">
                <input type="hidden" id="next" name="next" value="${next!}"/>
                <label><input type="checkbox" id="jsRemLoginChk" name="jsRemLoginChk" checked=""> 记住登录</label>
            </div>
            <a href="/forgot-pwd" class="forget-pwd"> 忘记密码？</a>
        </div>
        <div class="form-group">
            <div class="col-input-login">
                <a class="btn btn-primary btn-block" href="javascript:void(0);" id="jsLoginBtn">立即登录</a>
                <input type="submit" class="nk-invisible">
            </div>
        </div>
        <div class="login-tips">
            <a href="/login?ltype=oversea&amp;callBack=https%3A%2F%2Fwww.nowcoder.com%2Fprofile%2F152887960"
               style="float:right;">海外手机登录</a><span>
<a href="/login?ltype=sms&amp;callBack=https%3A%2F%2Fwww.nowcoder.com%2Fprofile%2F152887960">短信验证登录</a></span>
        </div>
    </form>
</div>
<div class="other-login-way">
    <span class="separate-line">或</span>
    <div class="login-way">
        <a href="javascript:void(0);"
           data-href="https://graph.qq.com/oauth2.0/authorize?client_id=101003590&amp;response_type=code&amp;redirect_uri=https://www.nowcoder.com/oauth2/qqconfig?callBack=https%253A%252F%252Fwww.nowcoder.com%252Fprofile%252F152887960&amp;state=web&amp;scope=get_user_info"
           class="nc-js-action-oauth login-qq">QQ账号登录</a>
        <a href="javascript:void(0);"
           data-href="https://api.weibo.com/oauth2/authorize?client_id=3023520088&amp;response_type=code&amp;redirect_uri=https://www.nowcoder.com/oauth2/sinaconfig?callBack=https%253A%252F%252Fwww.nowcoder.com%252Fprofile%252F152887960&amp;state=0_03703bc4b13c4ef8abff95cd054c7630&amp;scope=follow_app_official_microblog"
           class="nc-js-action-oauth login-wb">微博账号登录</a>
        <a href="javascript:void(0);"
           data-href="/oauth2/login/wechat_mp_index?callBack=https%3A%2F%2Fwww.nowcoder.com%2Fprofile%2F152887960"
           class="nc-js-action-oauth login-wx">微信账号登录</a>
        <div class="login-fold" id="jsLoginFold">
            <a href="javascript:void(0);" class="login-more">更多三方账号</a>
            <div class="login-unfold-icons">
                <!-- <a href="javascript:void(0);" data-href="https://github.com/login/oauth/authorize?client_id=1c539827b9400016d0c9&response_type=code&redirect_uri=http://www.nowcoder.com/oauth2/gitconfig?callBack=https%253A%252F%252Fwww.nowcoder.com%252Fprofile%252F152887960&state=web&scope=user:email" class="nc-js-action-oauth login-git"></a>
                 -->
                <a href="javascript:void(0);"
                   data-href="https://www.douban.com/service/auth2/auth?client_id=075c6b46242f18c8161541d26c8d4a58&amp;response_type=code&amp;redirect_uri=http://www.nowcoder.com/oauth2/dbconfig&amp;state=web"
                   class="nc-js-action-oauth login-db"></a>
                <a href="javascript:void(0);"
                   data-href="https://graph.renren.com/oauth/authorize?client_id=33356a41ddac4028a9ad64925e68c0e0&amp;response_type=code&amp;redirect_uri=http://www.nowcoder.com/oauth2/rrconfig&amp;state=web"
                   class="nc-js-action-oauth login-rr"></a>
            </div>
        </div>
    </div>
</div>