<div class="input-section">
    <form action="/login" method="post">
        <div class="form-group">
            <label for="jsEmailIpt" class="control-label">邮箱/手机</label>
            <div class="control-group" id="jsCpn_2_component_0"><input type="text" id="jsEmailIpt" name="jsEmailIpt"
                                                                       placeholder="请输入邮箱/手机号码" autocomplete="off"><i
                    class="input-icon fui-cross"></i><i class="input-icon fui-check-inverted"></i><span
                    class="input-tip"></span></div>
        </div>
        <div class="form-group">
            <label for="jsPasswordIpt" class="control-label">密码</label>
            <div class="control-group" id="jsCpn_3_component_1"><input type="password" id="jsPasswordIpt"
                                                                       name="jsPasswordIpt"
                                                                       placeholder="请输入密码"><i
                    class="input-icon fui-cross"></i><i class="input-icon fui-check-inverted"></i><span
                    class="input-tip"></span></div>
        </div>
        <div class="form-group about-pwd">
            <div class="keep-pwd">
                <input type="hidden" id="next" name="next" value="${next!}"/>
                <label><input type="checkbox" id="jsRemLoginChk" name="jsRemLoginChk" checked=""> 记住登录</label>
            </div>
            <a href="/forgot-pwd" class="forget-pwd"> 忘记密码？</a>
        </div>
        <div class="form-group">
            <div class="col-input-login">
                <a class="btn btn-primary btn-block" href="javascript:void(0);" id="jsLoginBtn">立即登录</a>
                <input type="submit" class="nk-invisible">
            </div>
        </div>
        <div class="login-tips">
            <a href="/login?ltype=oversea&amp;callBack=https%3A%2F%2Fwww.nowcoder.com%2Fprofile%2F152887960"
               style="float:right;">海外手机登录</a><span>
<a href="/login?ltype=sms&amp;callBack=https%3A%2F%2Fwww.nowcoder.com%2Fprofile%2F152887960">短信验证登录</a></span>
        </div>
    </form>
</div>