<div class="input-section">
    <form>
        <div class="form-group">
            <label for="jsEmailIpt" class="control-label">手机号码</label>
            <div class="control-group form-phone-fill" id="jsCpn_5_component_0">
                <div id="jsCpn_2_component_0" class="btn-group" style="margin-bottom: 0px;">
                    <button class="btn btn-default dropdown-toggle"><span class="js-txt dropdown-value"
                                                                          title="中国+86"
                                                                          style="width: 63px;">中国+86</span><span
                            class="caret"></span></button>
                </div>
                <input type="text" id="jsEmailIpt" placeholder="请输入手机号码" autocomplete="new-password"
                       name="nowcoder1">
                <i class="input-icon fui-cross"></i><i class="input-icon fui-check-inverted"></i><span
                    class="input-tip"></span></div>
        </div>
        <div class="form-group">
            <label for="jsCaptcha" class="control-label">验证码</label>
            <div class="btn-group phone-code">
                <div class="control-group" id="jsCpn_6_component_1">
                    <input type="text" id="jsCaptcha" placeholder="请输入验证码">
                    <i class="input-icon fui-cross"></i><i class="input-icon fui-check-inverted"></i><span
                        class="input-tip"></span></div>
                <span class="input-group-btn">
<button class="btn btn-primary" id="jsSendCaptcha" style="padding:0 5px;">获取验证码</button>
</span>
            </div>
        </div>
        <div class="form-group">
            <label for="jsPasswordIpt" class="control-label">密码</label>
            <div class="control-group" id="jsCpn_7_component_2">
                <input type="password" id="jsPasswordIpt" placeholder="请输入密码">
                <i class="input-icon fui-cross"></i><i class="input-icon fui-check-inverted"></i><span
                    class="input-tip"></span></div>
        </div>
        <div class="form-group">
            <label for="jsPasswordIpt2" class="control-label">重输密码</label>
            <div class="control-group" id="jsCpn_8_component_3">
                <input type="password" id="jsPasswordIpt2" placeholder="请重复输入密码">
                <i class="input-icon fui-cross"></i><i class="input-icon fui-check-inverted"></i><span
                    class="input-tip"></span></div>
        </div>
        <div class="form-group clearfix">
            <div id="jsGtCode" style="float:right;"></div>
        </div>
        <div class="form-group">
            <div class="col-input-login">
                <a class="btn btn-primary btn-block" href="javascript:void(0);" id="jsRegisterBtn">立即注册</a>
                <input type="submit" class="nk-invisible">
            </div>
        </div>
    </form>
</div>
